<!DOCTYPE html>
<html>
  <head>
    <title>Xác thực.....</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
      window.location.href = "http://localhost:3000/login"
    </script>
  </body>
</html>
